{% extends "base.html" %}
{% block title %} Ajouter une plante{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Ajouter une plante
                </p>
                <form action="" method="POST" novalidate>
                    <!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <p>
                            {{ form.nom_plante.label }}<br>
                            {{ form.nom_plante(size=32) }}<br>
                            {% for error in form.nom_plante.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                    </div>
                    <div class="form-group">
                        <p>
                            {{ form.famille_plante.label }}<br>
                            {{ form.famille_plante(size=32) }}<br>
                            {% for error in form.famille_plante.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                    </div>
                    <div class="form-group">
                        <p>
                            {{ form.position_plante.label }}<br>
                            {{ form.position_plante(size=32) }}<br>
                            {% for error in form.position_plante.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                    </div>
                    <div class="form-group">
                        <p>
                            {{ form.note_plate.label }}<br>
                            {{ form.note_plate(size=32) }}<br>
                            {% for error in form.note_plate.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                    </div>
                    {{ form.submit(class="btn btn-primary") }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

