{% extends "base.html" %}
{% block title %} Editer une plante {% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Editer un GENRE
                </p>
                <form action="" method="POST" novalidate>
                    <!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
                    {{ form_update.hidden_tag() }}
                    <div class="form-group">
                        <p>
                            {{ form_update.nom_plante.label }}<br>
                            {{ form_update.nom_plante(size=32) }}<br>
                            {% for error in form_update.nom_plante.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                    </div>
                    <div class="form-group">
                        <p>
                            {{ form_update.famille_plante.label }}<br>
                            {{ form_update.famille_plante(size=32) }}<br>
                            {% for error in form_update.famille_plante.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                    </div>
                    <div class="form-group">
                        <p>
                            {{ form_update.position_plante.label }}<br>
                            {{ form_update.position_plante(size=32) }}<br>
                            {% for error in form_update.position_plante.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                    </div>
                    <div class="form-group">
                        <p>
                            {{ form_update.note_plate.label }}<br>
                            {{ form_update.note_plate(size=32) }}<br>
                            {% for error in form_update.note_plate.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                    </div>
                    {{ form_update.submit(class="btn btn-primary") }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

