{% extends "base.html" %}
{% block title %} Afficher date {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Dates à disposition.
			</p>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            id
                        </th>
                        <th class="align-middle">
                            date
                        </th>
                        <th class="align-middle">
                            Floraison
                        </th>
                        <th class="align-middle">
                            Note
                        </th>
                        <th class="align-middle">

                        </th>
                        <th class="align-middle">

                        </th>
                        <th class="align-middle">

                        </th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.id_date }}
						</td>
						<td class="align-middle">
							{{ formatPersonneDate(row.plantation_date) }}
						</td><td class="align-middle">
							{{ formatPersonneDate(row.floraison_date) }}
						</td></td><td class="align-middle">
							{{ row.info_date }}
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('dates_ajouter') }}" role="button">Ajouter</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('date_update', id_plat_btn_edit_html=row.id_date) }}" role="button">Edit</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('date_delete', id_plat_btn_delete_html=row.id_date) }}" role="button">Delete</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucun date.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('date_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}

