{% extends "base.html" %}
{% block title %} Editer une date {% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Editer une date
                </p>
                <form action="" method="POST" novalidate>
                    <!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
                    {{ form_update.hidden_tag() }}
                    <div class="form-group">
                        <p>
                            {{ form_update.date_update_wtf.label }}<br>
                            {{ form_update.date_update_wtf(size=32) }}<br>
                            {% for error in form_update.date_update_wtf.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                    </div>
                    <div class="form-group">
                        <p>
                            {{ form_update.date_floraison_update_wtf.label }}<br>
                            {{ form_update.date_floraison_update_wtf(size=32) }}<br>
                            {% for error in form_update.date_floraison_update_wtf.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                    </div>
                    <div class="form-group">
                        <p>
                            {{ form_update.info_date_update_wtf.label }}<br>
                            {{ form_update.info_date_update_wtf(size=32) }}<br>
                            {% for error in form_update.info_date_update_wtf.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                    </div>
                    {{ form_update.submit(class="btn btn-primary") }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

