{% extends "base.html" %}
{% block title %} CRUD SUR LES FILMS {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3>
				Avertissement de maintenance.
			</h3>
			<p>
                Si ce message s'affiche c'est que la page n'est pas encore disponible.
                <br>
                Merci de vouloir patientez en attendant que nos ingénieurs de la Romain Corp. ajoute les nouvelles fonctionnalitées.
			</p>
		</div>
	</div>
</div>
{% endblock %}

