{% extends "base.html" %}
{% block title %} Afficher Plante Date {% endblock %}
{% block body %}
    <div class="container">
        <div class="col-md-12">
            <table class="table table-responsive-sm">

                {% if data %}
                    <thead>
                    <tr>
                        <th class="">
                            Id
                        </th>
                        <th class="">
                            Plantation
                        </th>
                        <th class="">
                            Floraison
                        </th>
                        <th class="">
                            Information
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                {% endif %}
                {% for row in data %}
                    <tbody>
                    <tr>
                        <td class="align-middle">
                            {{ row.id_date }}
                        </td>
                        <td class="align-middle">
                            {{ row.plantation_date }}
                        </td>
                        <td class="align-middle">
                            {{ row.floraison_date }}
                        </td>
                        <td class="align-middle">
                            {{ row.info_date }}
                        </td>
                        <td class="align-middle">
                            <a class="btn btn-primary" href="{{ url_for('dates_ajouter') }}" role="button">Ajouter</a>
                        </td>
                        <td class="align-middle">
                            <a class="btn btn-warning"
                               href="{{ url_for('date_update', id_plat_btn_edit_html=row.id_date) }}"
                               role="button">Edit</a>
                        </td>
                        <td class="align-middle">
                            <a class="btn btn-danger"
                               href="{{ url_for('date_delete', id_plat_btn_delete_html=row.id_date) }}" role="button">Delete</a>
                        </td>
                    <tr>
                        <td class="align-middle">
                            <a class="btn btn-warning"
                               href="{{ url_for('edit_plante_date_selected', id_plat_edit_html=row.id_date) }}"
                               role="button">Modifier</a>
                        </td>
                        <td class="align-middle" colspan="5">
                            {{ row.PlanteDate | default("PAS DE PLANTE INDIQUÉE", True) }}
                        </td>
                    </tr>
                    </tr>
                    </tbody>
                {% else %}
                    <tbody>
                    <tr>
                        <td>
                            Aucun plat.
                        </td>
                        <td>
                            <a class="btn btn-primary" href="{{ url_for('dates_ajouter') }}" role="button">Add</a>
                        </td>
                    </tr>
                    </tbody>
                {% endfor %}

            </table>
        </div>
    </div>
{% endblock %}
